.App {
  width: 50%;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.page {
  display: flex;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 10px;
}

.smurf {
  border: 1px solid lightblue;
  width: 200%;
  text-align: center;
  margin-bottom: 20px;
}

.smurf button {
  margin-bottom: 10px;
}